.banner-btns {
  display: flex;
  flex-direction: row;

  .collaboration {
    margin-right: 30px;
  }

  .courses {
    background: none;
    border: 2px solid orange;
    color: orange;

    &:hover {
      background: repeating-linear-gradient(270deg,#ffeb3f,#f18c35);;
      color: black;
      border: none;
    }
  }
}


@media (max-width: 576px) {

  .banner-btns {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .collaboration {
      margin-right: 0;
    }
  }
}
